* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

.App {
  display: flexbox;
  overflow: hidden;
}

/*--------------------------------------------------------- NAVBAR ---------------------------------------------------------*/
.navbar {
  display: flex;
  transition: background-color 0.3s ease;
  background-color: transparent !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: #fff !important;
  padding: 5px 0;
}

.navbar.scrolled {
  background-color: #121212 !important;
}

nav.navbar {
  padding: 1px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 60px;
}

.navbar .navbar-collapse .dropdown-menu {
  background-color: #fff;
}

.more-dropdown {
  color: #fff !important;
}

/*--------------------------------------------------------- HERO ---------------------------------------------------------*/
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 600px;
  background-image: url("../src/assets/img/hero2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  text-align: center;
}


.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.hero-container h1 {
  position: relative;
  color: #fff;
  z-index: 2;
  font-size: 90px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 10px ;
  top: -300px;
}

.hero-container p {
  position: relative;
  color: #fff;
  z-index: 3;
  font-size: 35px;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  margin-top: 0;
  top: -300px;
}

.email-button {
  position: relative;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border: 2px solid #054736;
  border-radius: 5px;
  top: -200px;
  font-weight: bold;
  transition: box-shadow 0.3s;
  z-index: 1;
}

.email-button:hover {
  box-shadow: 0 0 0 3px #00ff00;
  opacity: 0,8;
}



.navbar.scrolled {
  background-color: #121212 !important;
}
/*--------------------------------------------------------- ABOUT ---------------------------------------------------------*/
.about-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  
  padding: 90px;
  padding-top: 100px;
  background-color: #054736;
  /* background-color: #231e1ee4; */
  height: 700px;
}
.left-column {
  position: relative;
  bottom: 80px;
}

.about h1 {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 25px;
}

.about h2 {
  font-size: 25px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.about h3 {
  position: relative;
  font-size: 20px;
  top: 30px;
}

.about-container {
  position: relative;
  align-items: center;
  justify-content: center;
}

/*--------------------------------------------------------- SERVICES ---------------------------------------------------------*/
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.services h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: -20px;
}

.services h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-style: italic;
  margin-bottom: 60px;
  font-weight: lighter;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  padding: 25px;
  margin: 60px;
  border-radius: 15px;
}

.main-service {
  display: block;
  position: relative;
}

.text-container ul {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.carousel {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
}

.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.services img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  position: relative;
  z-index: 1;
}
/*--------------------------------------------------------- PRODUCTS ---------------------------------------------------------*/
/* 
.products {
  padding: 60px;
  background-image: url('./assets/img/steiner-snow.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
  padding-right: 600px;
  padding-top: 60px;
}

.products::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.text-background {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px;
  margin: 0 auto;
  border-radius: 10px;
}

.products p {
  position: relative;
  color: #fff;
  padding-right: 10px;
  z-index: 2;
  line-height: 2.0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}

.products img {
  padding-bottom: 30px;
} */

/*--------------------------------------------------------- CONTACT ---------------------------------------------------------*/
.contact {
  display: flex;
  height: 500px;
  max-height: 600px;
  padding: 60px;
  font-size: 20px;
  background: linear-gradient(to bottom,  #054736, #121212);
  width: 100%;
}

.left-content {
  flex: 1;
  margin-left: 130px;
}

.right-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content h2 {
  font-size: 50px;
}

.left-content p {
  position: relative;
  left: 10px;
}

.left-content a {
  position: relative;
  left: 10px;
  color: #fff;
}

.right-content img {
  transform: scale(.5);
  border-radius: 50%;
}

.address-container {
  margin-top: 10px;
  margin-bottom: 5px;
  text-decoration: underline;
}

/*--------------------------------------------------------- FOOTER ---------------------------------------------------------*/
.footer-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 400px;
  width: 100%;
  padding: 70px;
}


.footer-container img {
  padding-right: 15px;
}

.footer-line {
  position: absolute;
  left: 4%;
  right: 4%;
  bottom: 20%;
  border-top: 1px solid white;
}

.footer-underline {
  position: absolute;
  bottom: 10%;
}

/*--------------------------------------------------------- MEDIA QUERY ---------------------------------------------------------*/
@media (max-width: 768px) {
  .App {
    display: block;
    max-width: 100vw;
    font-size: 60px;
    overflow-x: hidden;
    background-color: #1a1919;
  }
  .navbar {
    position: relative;
    font-size: 30px;
    background-color: #1a1919 !important;
  }
  .navbar.scrolled {
    background-color: #1a1919 !important;
  }
  .navbar .nav-link {
    padding-left: 50px;
  }
  .navbar img {
    padding-left: 15px;
  }
  .custom-icon {
    color: #fff;
  }
  /*--------------------------------------------------------- HERO ---------------------------------------------------------*/
  .hero-container {
    display: flex;
    align-items: center;
    position:relative;
    background-size: cover;
    height: auto;
    background-color: #1a1919;
    background-image: url('./assets/img/hero2.jpeg');
    max-height: 200px;
    max-width: 100vw;
  }
  .hero-container a {
    font-size: 15px;
  }
  .hero-container h1 {
    position: relative;
    top: -300px;
    font-size: 45px;
  }
  .hero-container p {
    display: none;
  }

  /*--------------------------------------------------------- ABOUT ---------------------------------------------------------*/
  .about {
    position: relative;
    display: contents;
    font-size: 20px;
    margin: 20px;
    text-align: center;
  }
  .about-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(33, 32, 32);
    border-radius: 15px;
  }
  .about h1 {
    font-size: 40px;
    padding: 5px;
    font-style: oblique;
    font-weight: bold;
    padding-top: 80px;
  }

  /*--------------------------------------------------------- SERVICES ---------------------------------------------------------*/

  .services {
    position: relative;
    display: block;
    font-size: 14px;
    margin: -40px;
    height: 100vh;
  }

  .text-container {
    background-color: rgb(33, 32, 32);
  }
  .services .carousel-img {
    display: none;
  }

  .text-container ul {
    display: contents;
  }
  /*--------------------------------------------------------- CONTACT ---------------------------------------------------------*/
  .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .contact img {
   display: none;
  }
  .contact h2 {
    margin-left: 15px;
  }
  .left-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: -20px;
  }
  /*--------------------------------------------------------- FOOTER ---------------------------------------------------------*/
  .footer-container {
    position: relative;
    display: contents;
    font-size: 20px;
    max-width: 100vw;
  }

  .footer-underline {
    display: contents;
    position: relative;
    bottom: 110px;
  }

  .footer-line {
    display: contents;
    position: relative;
    max-width: 100vw;
  }
}