* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

.App {
  display: flexbox;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

.navbar {
  transition: background-color 0.3s ease;
  background-color: transparent !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: #fff !important;
}

.navbar.scrolled {
  background-color: #121212 !important;
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
}

.navbar .navbar-collapse .dropdown-menu {
  background-color: #fff;
}

.hero-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 600px;
  /* background-image: url('./assets/img/hero-img.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  max-height: 200px;
}

.hero-container img {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 610px;
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.hero-container h1 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  padding-top: 160px;
  padding-left: 90px;
  color: #fff;
  z-index: 2;
  font-size: 90px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.about {
  padding-top: 40px;
  padding: 60px;
  padding-right: 600px;
  height: 500px;
}

.about h1 {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.about h2 {
  font-size: 25px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}

.about h3 {
  font-size: 20px;
  padding-top: 15px;
}

.services {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 40px;
  padding: 70px;
  padding-right: 150px;
}

.services h1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 250px;
  font-style: italic;
  /* text-decoration: underline;
  text-decoration-thickness: 2px; */
}

.services h2 {
  font-style: italic;
}

.carousel {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: -1;
}

.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.services img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  position: relative;
  z-index: 1;
}

.products {
  padding: 60px;
  background-image: url('./assets/img/steiner-snow.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
  padding-right: 600px;
  padding-top: 60px;
}

.products::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.text-background {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px;
  margin: 0 auto;
  border-radius: 10px;
}

.products p {
  position: relative;
  color: #fff;
  padding-right: 10px;
  z-index: 2;
  line-height: 2.0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}

.products img {
  padding-bottom: 30px;
}

.contact {
  display: flex;
  height: 500px;
  max-height: 600px;
  padding: 60px;
  font-size: 20px;
  background: linear-gradient(to bottom, black, #4b4b4b);
  width: 100%;
}

.left-content {
  flex: 1;
  margin-left: 40px;
}

.right-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.left-content h2 {
  font-size: 50px;
}

.left-content p {
  position: relative;
  left: 10px;
}

.right-content img {
  transform: scale(.5);
  border-radius: 50%;
  margin-left: 20px;
}

.footer-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 400px;
  width: 100%;
  padding: 70px;
}


.footer-container img {
  padding-right: 15px;
}

.footer-line {
  position: absolute;
  left: 4%;
  right: 11%;
  bottom: 20%;
  border-top: 1px solid white;
}

.footer-underline {
  position: absolute;
  bottom: 10%;
}

@media (max-width: 768px) {
  .App {
    display: block;
    max-width: 100%;
    font-size: 60px;
    overflow-x: hidden;
    background-color: #1a1919;
  }
  .navbar {
    position: relative;
    font-size: 30px;
  }

  .navbar.scrolled {
    background-color: #1a1919 !important;
  }
  .navbar .nav-link {
    padding-left: 15px;
  }
  .navbar img {
    padding-left: 15px;
  }
  .custom-icon {
    color: #fff;
  }
  
  .hero-container {
    position:relative;
    top: -0px;
    background-color: #1a1919;
    background-image: url('./assets/img/leaves.jpeg')
  }
  .hero-container img {
    display: none;
    width: 100%;
    height: 120vh;
    object-fit: cover;
  }
  /* .hero-container h1 {
    font-size: 30px;
    top: 103px;
  } */
  .hero-container h1 {
    top: 100px;
    left: -70px;
    font-size: 40px;
  }
  .about {
    position: relative;
    display: contents;
    font-size: 20px;
    margin: 10px;
    
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(33, 32, 32);
  }
  .about h1 {
    font-size: 40px;
    padding: 15px;
    font-style: oblique;
    font-weight: bold;
  }
  .services {
    position: relative;
    display:contents;
    top: 200px;
    font-size: 14px;
  }
  .services .carousel-img {
    display: none;
  }

  .contact {
    display: contents;
    position: relative;
  }
  .contact img {
    width: 300%;
    height: auto;
    max-width: 600px;
    position: relative;
    align-items: center;
    top: -100px;
    right: 20px;
  }
  .footer-container {
    position: relative;
    display: contents;
    font-size: 20px;
  }

  .footer-underline {
    display: contents;
    position: relative;
    bottom: 110px;
  }

  .footer-line {
    display: contents;
    position: relative;
  }
}