.gallery-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231e1ee4;
    overflow-y: auto;
    height: 500px;
}

h1 {
    padding-top: 0px;
}

.collectionImages {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    gap: 10px;
}

.collectionImages > img {
    height: 300px;
    cursor: pointer;
    position: relative;
    flex: 1;
}

.collectionImages img {
    object-fit: cover;
    vertical-align: middle;
    border-radius: 5px;
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    text-align: center;
    z-index: 2;
}

.imageContainer {
    height: 300px;
    cursor: pointer;
    flex: 1;
}
.collectionImages > .imageContainer:first-child > img {
  height: 300px;
}
    
